/* Universal Styling for webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ======================================================
   Body
   ====================================================== */
body {
    background-color: #d9dcd6;
}
/* ======================================================
   Header
   ======================================================
 * Main Header dimensions and properties */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Header 1 dimensions */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Top Left Header Title contains "seo" in a different color */
.header h1 .seo {
    color: #d9dcd6;
}
/* 
 * Top right section containing links for the different information sections of the webpage */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Top right header list oriented as a row with 3 columns */
.header section ul {
    list-style-type: none;
}
/* Header columns with left margin of 25px for correct spacing */
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}
/* All <a> tags will gain a white color of #ffffff */
a {
    color: #ffffff;
    text-decoration: none;
}
/* All <p> tags will be a font-size of 16 px */
p {
    font-size: 16px;
}
/* =====================================================
   Figure
   ===================================================== 
 * Images on the first and third section are oriented to the left with text on the right of the container.
 * Image on the second section is oriented to the right with text to the left of the container
 */
.banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* ====================================================
   Content
   ====================================================
   * Content sections listed out in three rows surrounded by blue boxes
   * Each box contains different information and images but share the same dimensions and modifiers. */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}

.content-row {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-row h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content-row img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* ====================================================
   Aside
   ====================================================
 * All information is oriented on the left side of the page with Icons showing at the top of each section.
 * Three Headers (h3) are shown in this section with information about different subjects below*/

 /* benefits class dimenstions and modifiers */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ==================================================
   Footer
   ==================================================
 * Footer containing important legal referencing for the site and who it was made by.
 * Contains dimensions and modifiers for the Footer.
*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
